@model ProjektZaliczeniowyNET.ViewModels.CustomerListViewModel

@{
    ViewData["Title"] = "Lista klientów";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nazwa klienta</th>
        <th>Email</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.FullName</td>
            <td>@customer.Email</td>
            <td>
                <a href="/Customer/Details/@customer.Id" class="btn btn-sm btn-info">Szczegóły</a>
                <a href="/Customer/Edit/@customer.Id" class="btn btn-sm btn-warning">Edytuj</a>
                <a href="/Customer/Delete/@customer.Id" class="btn btn-sm btn-danger">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>