@model ProjektZaliczeniowyNET.DTOs.ServiceOrder.ServiceOrderDto

@{
    ViewData["Title"] = $"Szczegóły zlecenia #{Model.Id}";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Klient</div>
            <div class="card-body">
                <p><strong>Nazwa:</strong> @Model.Customer.FullName</p>
                <p><strong>Email:</strong> @Model.Customer.Email</p>
            </div>
        </div>
    </div>
</div>