@model ProjektZaliczeniowyNET.ViewModels.LoginViewModel

<h2>Logowanie</h2>
<form asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <input asp-for="RememberMe" type="checkbox" />
        <label asp-for="RememberMe"></label>
    </div>
    <button type="submit">Zaloguj</button>
</form>