@model ProjektZaliczeniowyNET.Models.RegisterViewModel

<h2>Rejestracja</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit">Zarejestruj się</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}